<ul>
  <li class="menu-item">
    <button type="button" (click)="deleteTask()">Supprimer</button>
  </li>
  <li
    class="menu-item"
    (mouseenter)="openSubmenu(statusSubmenu)"
    (mouseleave)="hideSubmenu(statusSubmenu)"
  >
    <div class="submenu-trigger">
      <span>Changer le statut</span>
      <span>></span>
    </div>
    <ul #statusSubmenu class="submenu">
      @for (status of statuses; track status) {
        <li class="menu-item">
          <button type="button" (click)="changeStatus(status)" [disabled]="status === task.status">
            {{ status }}
          </button>
        </li>
      }
    </ul>
  </li>
</ul>

<!-- 




 -->
