@import 'mixins';

:host {
  display: block;
  height: 100%;
  width: 100%;
}

app-search {
  margin-bottom: 1rem;
}

.board {
  display: grid;
  gap: 1.25rem 1rem;
  height: 100%;
  width: 100%;

  overflow: hidden;

  @include breakpoint(lg) {
    gap: 2rem;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
