:host {
  display: flex;
  align-items: flex-end;
  gap: 1rem;
}

.choices {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.tag {
  display: block;
  width: fit-content;

  padding: 0.25rem 0.5rem;

  border: none;
  border-radius: 0.25rem;

  font-family: OpenSans;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  text-transform: capitalize;

  cursor: pointer;
}

.choice {
  font-size: 0.75rem;
}

.low {
  background-color: #e9f7eb;
  color: #069d1f;
}

.medium {
  background-color: #fff9f5;
  color: #e06c00;
}

.high {
  background-color: #fbf1f2;
  color: #d53949;
}

.critical {
  background-color: #f4eafb;
  color: #9842d1;
}
