@import 'mixins';

:host {
  display: block;
  width: 100vw;
  height: 100vh;

  overflow: hidden;

  padding: 1rem;
  margin: 0;

  @include breakpoint(lg) {
    padding: 3rem;
  }

  @include breakpoint(xl) {
    padding: 5rem;
  }
}
