:host {
  position: relative;

  display: block;
  width: 100%;

  padding: 1.25rem;

  background-color: white;
  border-radius: 1rem;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  app-priority {
    margin-bottom: 0.75rem;
  }

  .menu-trigger {
    width: 1.75rem;
    height: 1.75rem;

    color: #50505a;

    cursor: pointer;
  }
}

.title {
  margin-bottom: 2rem;

  color: #0d062d;
  font-family: Inconsolata;
  font-weight: 400;
  font-size: 1.75rem;
}
