<header>
  <app-priority [priority]="task().priority" (updated)="changePriority($event)"></app-priority>
  <app-icon class="menu-trigger" icon="menu" [menuTriggerFor]="menu"></app-icon>
</header>
<div class="title">{{ task().title }}</div>
<app-author [author]="task().author"></app-author>

<ng-template #menu>
  <ul class="menu">
    <li class="menu-item">Supprimer</li>
    <li [menuTriggerFor]="statusMenu" [asChild]="true" class="menu-item">
      Changer le statut
    </li>
  </ul>
</ng-template>

<ng-template #statusMenu>
  <ul class="menu">
    @for (status of availableStatuses(); track status) {
      <li class="menu-item" (click)="changeStatus(status)">{{ status }}</li>
    }
  </ul>
</ng-template>
