:host {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;

  height: 3.25rem;

  padding: 0.5rem;

  border: 1px solid #202124;
  border-radius: 0.5rem;

  input {
    background-color: transparent;
    border: none;
    outline: none;

    color: #0d062d;
    font-family: OpenSans;
    font-weight: 400;
    font-size: 100%;
  }

  app-icon {
    width: 1rem;
    height: 1rem;
  }

  button {
    width: 1rem;
    height: 1rem;

    background: transparent;
    border: none;

    cursor: pointer;
    visibility: hidden;

    &.visible {
      visibility: visible;
    }
  }
}
