<header>
  <div class="column-title">{{ status() }}</div>
  @if (displayStatusPicker()) {
    <button class="status-trigger" [menuTriggerFor]="statusMenu">
      <app-icon icon="caret-down"></app-icon>
    </button>
  }
</header>

@if (!displayTaskCreation()) {
  <button type="button" class="add" (click)="displayTaskCreation.set(true)">
    + Ajouter une tâche
  </button>
}
<ul id="{{ status() }}" cdkDropList class="tasks" (cdkDropListDropped)="drop($event)">
  @if (displayTaskCreation()) {
    <li
      app-task
      (created)="addTask($event)"
      (creationCanceled)="displayTaskCreation.set(false)"
    ></li>
  }
  @for (task of tasks(); track task.id) {
    <li
      app-task
      cdkDrag
      [cdkDragData]="task"
      [task]="task"
      (updated)="updateTask($event)"
      (statusChanged)="updateTaskStatus($event, task.id)"
      (deleted)="deleteTask(task.id)"
    ></li>
  }
</ul>

<ng-template #statusMenu>
  <ul class="menu">
    @for (choice of statusChoices; track choice) {
      <li menuItem class="menu-item" (click)="changeColumnStatus(choice)">{{ choice }}</li>
    }
  </ul>
</ng-template>
