<header>
  <div class="column-title">{{ status() }}</div>
</header>

@if (!editableTaskDisplayed()) {
  <button type="button" class="add" (click)="editableTaskDisplayed.set(true)">
    + Ajouter une tâche
  </button>
}
<ul id="{{ status() }}" cdkDropList class="tasks" (cdkDropListDropped)="drop($event)">
  @if (editableTaskDisplayed()) {
    <li
      app-editable-task
      (created)="addTask($event)"
      (canceled)="editableTaskDisplayed.set(false)"
    ></li>
  }
  @for (task of tasks(); track task.id) {
    <li
      app-task
      [task]="task"
      cdkDrag
      [cdkDragData]="task"
      (prorityChanged)="changePriority($event, task.id)"
      (statusChanged)="changeStatus($event, task.id)"
    ></li>
  }
</ul>
