:host {
  display: block;
  width: 100%;

  padding: 1.25rem;

  background-color: white;
  border-radius: 1rem;
}

app-priority {
  margin-bottom: 0.75rem;
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
}

.action {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 2rem;
  height: 2rem;

  border: none;
  border-radius: 100%;

  text-align: center;
  cursor: pointer;

  &:disabled {
    background-color: lightgray !important;
    color: gray !important;
    cursor: not-allowed;
  }

  app-icon {
    width: 1.5rem;
    height: 1.5rem;
  }

  &.cancel {
    background-color: #fbf1f2;
    color: #d53949;
  }

  &.confirm {
    background-color: #e9f7eb;
    color: #069d1f;
  }
}
